/* ==========================================================================
GRID / SPACINGS
========================================================================== */

// Containers
$page-width: 1280px;
$content-width: 960px;

$container-width-xl: rem(2000px);
$container-width-wide: rem(1280px);
$container-width-narrow: rem(960px);

// Spacings
$gutter-width-single: rem(15px);
$gutter-width-double: rem(30px);
