/* ==========================================================================
TOOLS - ANIMATION
========================================================================== */

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-opacity {
    animation: 1.55s fade;
}
