/* ==========================================================================
ELEMENTS
========================================================================== */

p,
ol,
ul {
    font-family: $font-body;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 0 0 $gutter-width-single;
}
