/* ==========================================================================
FONTS
========================================================================== */

body {
    font-weight: 400;
    font-style: normal;
    font-family: $font-body;
    font-size: 1em;
    line-height: 1;
}
